{% extends "base.html" %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}">
{% endblock %}

{% block modal_cart %}
{% include  "includes/cart_button.html"%}
{% endblock %}

{% block content %}
    <div class="mt-5 p-3 pt-4 bg-white custom-shadow rounded">
    <h2 class="m-4"><strong>{{ content }}</strong></h2>
    <p class="m-4 " style="font-size: 18px;"> {{ text_address}}</p>
    <p class="m-4 " style="font-size: 18px;"> {{ tel_number}}</p>
    <p class="m-4 " style="font-size: 18px;"> E-mail: {{ email}}</p>
    <h3 class="m-4 "><strong>График работы: </strong></h3>
    <p class="m-4 pb-5" style="font-size: 18px;"> {{ shedule }}</p>
    </div>

{% endblock %}

{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; DMITRY TAKOVOI 2023</p>
        </div>
    </footer>
{% endblock %}